# .bashrc
# [...]

# prepare the environment for PLX_SDK devices (for user & root)
export PLX_SDK_DIR="/home/sysuser/PLX_SDK"
export RS422_DRIVER_DIR="/home/sysuser/RS422_DRIVER"
export LD_LIBRARY_PATH="/usr/local/lib:$PLX_SDK_DIR/PlxApi/Library:$LD_LIBRARY_PATH"
export C_INCLUDE_PATH="$PLX_SDK_DIR/Include:$C_INCLUDE_PATH"

# User aliases and functions
# [...]
